.menu
    display flex
    border-bottom 1rem solid #910000
    > .link
        display flex
        flex-grow 1
        flex 1
        background-color #fff
        height 5rem
        padding 1rem
        align-items center
        flex-direction column
        justify-content space-around
        text-align center
        text-decoration none
        color darken(#ddd, 70%)

        &:not(:last-child)
            margin-right .5rem
