.offers-list
    a
        display flex
        text-decoration none

        .title
            font-size 1.6rem
            font-weight bold

        .prices
            display inline-block

        .discount
            width 10%
            display inline-block
            float right
            color #a4d007
            background #4c6b22
            padding .3rem
            font-size 1.4rem