.offers-list
    > .item
        display flex
        text-decoration none
        color white
        border-bottom 1px solid
        border-color rgba(190, 190 ,190, 0.5)
        transition all .2s ease-in-out

        &:nth-child(odd)
            background rgba(190, 190, 190, 0.4)

        &:hover
            background #333

        > .image
            min-width 14rem

        > .content
            width 100%
            padding 1rem

            > .title
                font-size 1.6rem
                font-weight bold
                margin-bottom 1rem

            > .prices
                display inline-block
                font-size 1.4rem

                > .old
                    color #999

            > .discount
                display inline-block
                float right
                color #a4d007
                background #4c6b22
                padding .4rem
                font-size 1.4rem