html {
    font-size: 10px;
    overflow: hidden;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
}

body {
    font-size: 1.3rem;
    background-color: rgb(53, 59, 70);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.infiniteScroll {
    overflow: auto;
    height: 100%;
}

#main {
    height: 100vh;
}

.main {
    width: 40rem;
    height: 80rem;

    > .content {
        height: 100%;
    }
}
