html {
    font-size: 10px;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
}

body {
    font-size: 1.3rem;
    background-color: rgb(53, 59, 70);
}

.main {
    width: 40rem;
    height: 80rem;
}
