html
    font-size 10px
    font-family Helvetica, arial, freesans, clean, sans-serif

body
    font-size 1.3rem

.main
    width 350px
    height 80rem
    background-color #eee
    border-right .1rem #333